[*.{cs}]
# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none
# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none
# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none
