{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 120,
	"trailingComma": "all",
	"overrides": [
		{
			"files": "Sandbox.AngularWorkspace/**/*.html",
			"options": {
				"parser": "angular"
			}
		}
	]
}
