<form novalidate (submit)="onSubmit($event)">
	<h2>Create Customer</h2>

	@for (error of customerForm().errors(); track $index) {
		<div>{{ error.message }}</div>
	}

	@if (customerForm().touched() && customerForm().invalid()) {
		<h3>Validation summary:</h3>
		<ul>
			@for (error of customerForm().errorSummary(); track $index) {
				<li>{{ error | validationMessage: true }}</li>
			}
		</ul>
	}

	<fieldset>
		<legend>Customer Information</legend>
		<div>
			<label for="firstName">First Name</label>
			<input id="firstName" type="text" [field]="customerForm.firstName" />
		</div>

		<div>
			<label for="lastName">Last Name</label>
			<input id="lastName" type="text" [field]="customerForm.lastName" />
		</div>
	</fieldset>

	<div>
		<input type="checkbox" id="hasBillingAddress" [field]="customerForm.hasBillingAddress" />
		<label for="hasBillingAddress">Add Billing Address</label>
	</div>

	@if (!customerForm.billingAddress().hidden()) {
		<fieldset>
			<legend>Billing Address</legend>
			<sandbox-customer-address [address]="customerForm.billingAddress" />
		</fieldset>
	}

	<div>
		<input type="checkbox" id="hasShippingAddress" [field]="customerForm.hasShippingAddress" />
		<label for="hasShippingAddress">Add Shipping Address</label>
	</div>

	@if (!customerForm.shippingAddress().hidden()) {
		<fieldset>
			<legend>Shipping Address</legend>
			<sandbox-customer-address [address]="customerForm.shippingAddress">
				<div>
					<label for="note">Note</label>
					<textarea id="note" [field]="customerForm.shippingAddress.note"></textarea>
				</div>
			</sandbox-customer-address>
		</fieldset>
	}

	<button type="submit" [disabled]="customerForm().submitting()">
		@if (customerForm().submitting()) {
			Creating Customer
		} @else {
			Create Customer
		}
	</button>
</form>
