name: autofix.ci

on:
  pull_request:
  push:
    branches: ['main']

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-pnpm

      - name: Fix lint issues
        run: pnpm -r lint --fix

      - name: Format code
        run: pnpm prettier --write .

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
