name: autofix.ci

on:
  pull_request:
  push:
    branches: ['main']

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - uses: ./.github/actions/setup-pnpm

      - name: Fix Frontend lint issues
        run: pnpm -r lint --fix

      - name: Format Frontend code
        run: pnpm -r prettier . --write

      - name: Format Backend code
        run: dotnet format --severity info

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
