services:
  keycloak:
    image: 'quay.io/keycloak/keycloak:26.5@sha256:b80a48090594367bd8cf6fe2019466ac4ea49de4d0830fb2a43256eda37b18f5'
    command:
      - 'start'
      - '--import-realm'
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: '${KEYCLOAKADMINUSERNAME}'
      KC_BOOTSTRAP_ADMIN_PASSWORD: '${KEYCLOAKADMINPASSWORD}'
      KC_HEALTH_ENABLED: 'true'
      KC_FEATURES: 'opentelemetry'
    expose:
      - '8080'
      - '9000'
    volumes:
      - type: 'volume'
        target: '/opt/keycloak/data'
        source: 'sandbox.apphost-580edeb21e-keycloak-data'
        read_only: false
      - type: 'bind'
        target: '/opt/keycloak/data/import'
        source: '${KEYCLOAK_BINDMOUNT_0}'
        read_only: true
    networks:
      - 'aspire'
  minio:
    image: 'docker.io/minio/minio:RELEASE.2025-09-07T16-13-09Z@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e'
    command:
      - 'server'
      - '/data'
      - '--console-address'
      - ':9001'
    environment:
      MINIO_ROOT_USER: '${MINIOUSER}'
      MINIO_ROOT_PASSWORD: '${MINIOPASSWORD}'
      MINIO_PROMETHEUS_AUTH_TYPE: 'public'
    expose:
      - '9000'
      - '9001'
    volumes:
      - type: 'volume'
        target: '/data'
        source: 'sandbox.apphost-580edeb21e-minio-data'
        read_only: false
    networks:
      - 'aspire'
  minio-bucket-creator:
    image: 'minio/mc:latest@sha256:a7fe349ef4bd8521fb8497f55c6042871b2ae640607cf99d9bede5e9bdf11727'
    command:
      - '-c'
      - ' /usr/bin/mc alias set myminio http://minio:9000 $$MinioUser $$MinioPassword; /usr/bin/mc mb myminio/loki; /usr/bin/mc anonymous set public myminio/loki; /usr/bin/mc mb myminio/tempo;  /usr/bin/mc anonymous set public myminio/tempo; exit 0;'
    entrypoint:
      - '/bin/sh'
    environment:
      MinioUser: '${MINIOUSER}'
      MinioPassword: '${MINIOPASSWORD}'
    depends_on:
      minio:
        condition: 'service_started'
    networks:
      - 'aspire'
  loki:
    image: 'grafana/loki:latest@sha256:cd6e176883a90c21755f0315688668991634143423f75bdedfef41441b0fdc3c'
    command:
      - '--config.file=/etc/loki/loki.yml'
      - '--config.expand-env=true'
    environment:
      MINIO_USER: '${MINIOUSER}'
      MINIO_PASSWORD: '${MINIOPASSWORD}'
    expose:
      - '3100'
    volumes:
      - type: 'bind'
        target: '/etc/loki'
        source: '${LOKI_BINDMOUNT_0}'
        read_only: true
      - type: 'volume'
        target: '/loki'
        source: 'loki-data'
        read_only: false
    depends_on:
      minio:
        condition: 'service_started'
      minio-bucket-creator:
        condition: 'service_completed_successfully'
    networks:
      - 'aspire'
  tempo:
    image: 'grafana/tempo:latest@sha256:241476bbe7877819087763888b644b86e751ba1aa1644f2f6d8bc82f9e5cd5c6'
    command:
      - '--config.file=/etc/tempo/tempo.yml'
      - '--config.expand-env=true'
      - 'chown 10001:10001 /var/tempo'
    environment:
      MINIO_USER: '${MINIOUSER}'
      MINIO_PASSWORD: '${MINIOPASSWORD}'
    expose:
      - '4317'
      - '3200'
    volumes:
      - type: 'bind'
        target: '/etc/tempo'
        source: '${TEMPO_BINDMOUNT_0}'
        read_only: true
      - type: 'volume'
        target: '/var/tempo'
        source: 'tempo-data'
        read_only: false
    depends_on:
      minio:
        condition: 'service_started'
      minio-bucket-creator:
        condition: 'service_completed_successfully'
    networks:
      - 'aspire'
  prometheus:
    image: 'prom/prometheus:latest@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702'
    command:
      - '--web.enable-otlp-receiver'
      - '--web.enable-remote-write-receiver'
      - '--enable-feature=native-histograms'
      - '--config.file=/etc/prometheus/prometheus.yml'
    expose:
      - '9090'
    volumes:
      - type: 'bind'
        target: '/etc/prometheus'
        source: '${PROMETHEUS_BINDMOUNT_0}'
        read_only: true
    networks:
      - 'aspire'
  blackbox:
    image: 'prom/blackbox-exporter:latest@sha256:e753ff9f3fc458d02cca5eddab5a77e1c175eee484a8925ac7d524f04366c2fc'
    command:
      - '--config.file=/etc/blackbox/blackbox.yml'
    expose:
      - '9115'
    volumes:
      - type: 'bind'
        target: '/etc/blackbox/'
        source: '${BLACKBOX_BINDMOUNT_0}'
        read_only: false
    networks:
      - 'aspire'
  grafana:
    image: 'grafana/grafana:latest@sha256:2175aaa91c96733d86d31cf270d5310b278654b03f5718c59de12a865380a31f'
    environment:
      PROMETHEUS_ENDPOINT: 'http://prometheus:9090'
      LOKI_ENDPOINT: 'http://loki:3100'
      TEMPO_URL: 'http://tempo:3200'
      GF_AUTH_ANONYMOUS_ENABLED: 'true'
      GF_AUTH_ANONYMOUS_ORG_ROLE: 'Admin'
      GF_AUTH_DISABLE_LOGIN_FORM: 'true'
    expose:
      - '3000'
    volumes:
      - type: 'bind'
        target: '/etc/grafana'
        source: '${GRAFANA_BINDMOUNT_0}'
        read_only: true
      - type: 'bind'
        target: '/var/lib/grafana/dashboards'
        source: '${GRAFANA_BINDMOUNT_1}'
        read_only: true
      - type: 'volume'
        target: '/var/lib/grafana'
        source: 'sandbox.apphost-580edeb21e-grafana-data'
        read_only: false
    networks:
      - 'aspire'
  otelcollector:
    image: 'ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib:latest@sha256:f051aff195ad50ed5ad9d95bcdd51d7258200c937def3797cf830366ed62e034'
    environment:
      ASPIRE_OTLP_ENDPOINT: '${}'
      ASPIRE_API_KEY: ''
      ASPIRE_INSECURE: 'true'
      PROMETHEUS_ENDPOINT: 'http://prometheus:9090/api/v1/otlp'
      LOKI_ENDPOINT: 'http://loki:3100/otlp'
      TEMPO_URL: 'http://tempo:4317'
    expose:
      - '4317'
      - '4318'
    volumes:
      - type: 'bind'
        target: '/etc/otelcol-contrib/config.yaml'
        source: '${OTELCOLLECTOR_BINDMOUNT_0}'
        read_only: false
    networks:
      - 'aspire'
  postgres:
    image: 'docker.io/library/postgres:18.1@sha256:2d417d4c88058c9707bd19d45f95c1db2b087507b89d44f669d43f596781614e'
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'scram-sha-256'
      POSTGRES_INITDB_ARGS: '--auth-host=scram-sha-256 --auth-local=scram-sha-256'
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
    expose:
      - '5432'
    volumes:
      - type: 'volume'
        target: '/var/lib/postgresql/data'
        source: 'sandbox.apphost-580edeb21e-postgres-data'
        read_only: false
    networks:
      - 'aspire'
  cache:
    image: 'docker.io/library/redis:8.4@sha256:73dad4271642c5966db88db7a7585fae7cf10b685d1e48006f31e0294c29fdd7'
    command:
      - '-c'
      - 'redis-server --requirepass $$REDIS_PASSWORD --save 60 1'
    entrypoint:
      - '/bin/sh'
    environment:
      REDIS_PASSWORD: '${CACHE_PASSWORD}'
    expose:
      - '6379'
    volumes:
      - type: 'volume'
        target: '/data'
        source: 'sandbox.apphost-580edeb21e-cache-data'
        read_only: false
    networks:
      - 'aspire'
  migrations:
    image: '${MIGRATIONS_IMAGE}'
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: 'true'
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: 'true'
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: 'in_memory'
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: 'true'
      HTTP_PORTS: '${MIGRATIONS_PORT}'
      ConnectionStrings__sandbox-db: 'Host=postgres;Port=5432;Username=postgres;Password=${POSTGRES_PASSWORD};Database=sandbox-db'
      SANDBOX_DB_HOST: 'postgres'
      SANDBOX_DB_PORT: '5432'
      SANDBOX_DB_USERNAME: 'postgres'
      SANDBOX_DB_PASSWORD: '${POSTGRES_PASSWORD}'
      SANDBOX_DB_URI: 'postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/sandbox-db'
      SANDBOX_DB_JDBCCONNECTIONSTRING: 'jdbc:postgresql://postgres:5432/sandbox-db'
      SANDBOX_DB_DATABASENAME: 'sandbox-db'
      ConnectionStrings__cache: 'cache:6379,password=${CACHE_PASSWORD}'
      CACHE_HOST: 'cache'
      CACHE_PORT: '6379'
      CACHE_PASSWORD: '${CACHE_PASSWORD}'
      CACHE_URI: 'redis://:${CACHE_PASSWORD}@cache:6379'
    expose:
      - '${MIGRATIONS_PORT}'
    depends_on:
      postgres:
        condition: 'service_started'
    networks:
      - 'aspire'
  apiservice:
    image: '${APISERVICE_IMAGE}'
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: 'true'
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: 'true'
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: 'in_memory'
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: 'true'
      HTTP_PORTS: '${APISERVICE_PORT}'
      ConnectionStrings__sandbox-db: 'Host=postgres;Port=5432;Username=postgres;Password=${POSTGRES_PASSWORD};Database=sandbox-db'
      SANDBOX_DB_HOST: 'postgres'
      SANDBOX_DB_PORT: '5432'
      SANDBOX_DB_USERNAME: 'postgres'
      SANDBOX_DB_PASSWORD: '${POSTGRES_PASSWORD}'
      SANDBOX_DB_URI: 'postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/sandbox-db'
      SANDBOX_DB_JDBCCONNECTIONSTRING: 'jdbc:postgresql://postgres:5432/sandbox-db'
      SANDBOX_DB_DATABASENAME: 'sandbox-db'
      KEYCLOAK_HTTP: 'http://keycloak:8080'
      services__keycloak__http__0: 'http://keycloak:8080'
      KEYCLOAK_MANAGEMENT: 'http://keycloak:9000'
      services__keycloak__management__0: 'http://keycloak:9000'
      ConnectionStrings__cache: 'cache:6379,password=${CACHE_PASSWORD}'
      CACHE_HOST: 'cache'
      CACHE_PORT: '6379'
      CACHE_PASSWORD: '${CACHE_PASSWORD}'
      CACHE_URI: 'redis://:${CACHE_PASSWORD}@cache:6379'
    expose:
      - '${APISERVICE_PORT}'
    depends_on:
      postgres:
        condition: 'service_started'
      migrations:
        condition: 'service_started'
      keycloak:
        condition: 'service_started'
      cache:
        condition: 'service_started'
    networks:
      - 'aspire'
  angular-frontend:
    image: '${ANGULAR_FRONTEND_IMAGE}'
    environment:
      NODE_ENV: 'production'
      PORT: '8000'
      APPLICATION: 'sandbox-app'
    expose:
      - '8000'
    networks:
      - 'aspire'
  gateway:
    image: '${GATEWAY_IMAGE}'
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: 'true'
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: 'true'
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: 'in_memory'
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: 'true'
      HTTP_PORTS: '${GATEWAY_PORT}'
      APISERVICE_HTTP: 'http://apiservice:${APISERVICE_PORT}'
      services__apiservice__http__0: 'http://apiservice:${APISERVICE_PORT}'
      APISERVICE_HTTPS: 'https://apiservice:${APISERVICE_PORT}'
      ANGULAR_FRONTEND_HTTP: 'http://angular-frontend:8000'
      services__angular-frontend__http__0: 'http://angular-frontend:8000'
      OTELCOLLECTOR_HTTP: 'http://otelcollector:4318'
      services__otelcollector__http__0: 'http://otelcollector:4318'
      KEYCLOAK_HTTP: 'http://keycloak:8080'
      services__keycloak__http__0: 'http://keycloak:8080'
      KEYCLOAK_MANAGEMENT: 'http://keycloak:9000'
      services__keycloak__management__0: 'http://keycloak:9000'
      OpenIDConnectSettings__ClientSecret: '${OPENIDCONNECTSETTINGSCLIENTSECRET}'
    ports:
      - '${GATEWAY_PORT}'
    depends_on:
      apiservice:
        condition: 'service_started'
      angular-frontend:
        condition: 'service_started'
      otelcollector:
        condition: 'service_started'
      keycloak:
        condition: 'service_started'
    networks:
      - 'aspire'
  data-api:
    image: 'mcr.microsoft.com/azure-databases/data-api-builder:1.7.83-rc@sha256:970dc3499443d136e4f83d17f2b4eba946333c8cb74f8d310eb5e37a25f9cd82'
    environment:
      DAB_ENVIRONMENT: 'production'
      ConnectionString: 'Host=postgres;Port=5432;Username=postgres;Password=${POSTGRES_PASSWORD};Database=sandbox-db'
    expose:
      - '5000'
    volumes:
      - type: 'bind'
        target: '/App/dab-config.json'
        source: '${DATA_API_BINDMOUNT_0}'
        read_only: true
    depends_on:
      postgres:
        condition: 'service_started'
      migrations:
        condition: 'service_started'
    networks:
      - 'aspire'
networks:
  aspire:
    driver: 'bridge'
volumes:
  sandbox.apphost-580edeb21e-keycloak-data:
    driver: 'local'
  sandbox.apphost-580edeb21e-minio-data:
    driver: 'local'
  loki-data:
    driver: 'local'
  tempo-data:
    driver: 'local'
  sandbox.apphost-580edeb21e-grafana-data:
    driver: 'local'
  sandbox.apphost-580edeb21e-postgres-data:
    driver: 'local'
  sandbox.apphost-580edeb21e-cache-data:
    driver: 'local'
